.body{
    background-color: rgb(255, 243, 243)
}
.navbar{
    background-color: rgb(255, 255, 255);
    height: 90px;
    width: 1400px;
    margin: auto;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:0px 15px;
}
.navbar div a{
    margin-right: 200px;
    font-family: 'Sofia', cursive;
    font-size: xx-large;
    font-weight: 800;
    color: rgba(252, 168, 0, 1);
}
.navbar a{
    text-decoration: none;
}
.link{
    color: rgba(248, 70, 97, 1);
    font-size: large;
}
.join{
    background-color: rgba(252, 168, 0, 1);
    color: white;
    border: none;
}
button{
    height: 46px;
    width: 130px;
    background-color:rgb(255, 255, 255);
    color: rgba(248, 70, 97, 1);
    border-radius:4px ;
}
.headCard{
    width: 1400px;
    margin: auto;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headCardText{
    width: 629px;
    height: 459px;
}
.headCardText h1{
    font-size: 72px;
    font-weight: bold;
}
.headCardText p{
    font-size: 20px;
}
#brands{
    color: rgba(252, 168, 0, 1);
}
#influencers{
color: rgba(248, 70, 97, 1);
}
.btn{
    margin-left: 20px;
}
.btn button{
    margin-right: 20px;
}
.topCard{
    height: 1100px;
    width: 100%;
    padding: 50px;
    background-color: rgb(255, 255, 255);
}