.body{
    background-color: rgb(255, 243, 243)
}
.navbar{
    background-color: rgb(255, 255, 255);
    height: 90px;
    width: 1400px;
    margin: auto;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:0px 15px;
}
.navbar div a{
    margin-right: 200px;
    font-family: 'Sofia', cursive;
    font-size: xx-large;
    font-weight: 800;
    color: rgba(252, 168, 0, 1);
}
.navbar a{
    text-decoration: none;
}
.link{
    color: rgba(248, 70, 97, 1);
    font-size: large;
}
.join{
    background-color: rgba(252, 168, 0, 1);
    color: white;
    border: none;
}
button{
    height: 46px;
    width: 130px;
    background-color:rgb(255, 255, 255);
    color: rgba(248, 70, 97, 1);
    border-radius:4px ;
}
.headCard{
    width: 1400px;
    margin: auto;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headCardText{
    width: 629px;
    height: 459px;
}
.headCardText h1{
    font-size: 72px;
    font-weight: bold;
}
.headCardText p{
    font-size: 20px;
}
#brands{
    color: rgba(252, 168, 0, 1);
}
#influencers{
color: rgba(248, 70, 97, 1);
}
.btn{
    margin-left: 20px;
}
.btn button{
    margin-right: 20px;
}
.topCard{
    height: 1100px;
    padding: 50px;
    background-color: rgb(255, 255, 255);
}
.middlePart{
    height: 680px;
    padding: 50px;
}
.bt{
    text-align: center;
}
.middlePart h1, .clients h1{
    font-size: 72px;
    font-weight: 400;
}
.aim{
    font-weight: bold;
}
.workCard, .comment{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
}
.workCard div{
    padding: 5px;
    text-align: center;
}
.workCard img{
    height: 100px;
    width: 100px;
}
h3{
    font-size: 32px;
    font-weight: 700px;
}
.workCard p{
    font-size: 18px;
}
.comment{
    height: 510px;
    background-color: rgb(245, 233, 233);
    padding: 50px;
}
.cmt div{
    height: 300px;
    width: 300px;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    margin-top: 100px;

}
.cmt h1{
    margin-top: 100px;
    font-size: 50px;
    font-weight: bold;
}
.cmt p{
    font-size: 24px;
    margin-top: -20px;
}
.clients{
    height: 742px;
    padding: 50px;
}
.client{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 110px;
}
.client2{
    padding: 70px;
    margin-right: 20px;
}
