.body{
    background-color: rgba(0, 0, 0, 0.12);
}
.navbar{
    background-color: rgba(255, 255, 255, 1);
    height: 90px;
    width: 1400px;
    margin: auto;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:0px 15px;
}
.navbar div{
    margin-right: 200px;
}
.navbar a{
    text-decoration: none;
}